*, *::before, *::after {
	box-sizing: border-box;
	font-family: Arial;
}

:root {
	--hue-neutral: 200;
	--hue-wrong: 0;
	--hue-correct: 145;
}

body {
	--hue: var(--hue-neutral);
	padding: 0;
	margin: 0;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: hsl(var(--hue), 100%, 20%);
}

.container {
	width: 800px;
	max-width: 80%;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 10px 2px;
    margin-top: 200px;
}


.datetime {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 10px 20px;
}



.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}