*, *::before, *::after {
	box-sizing: border-box;
	font-family: Arial;
}

:root {
	--hue-neutral: 200;
	--hue-wrong: 0;
	--hue-correct: 145;
}

body {
	--hue: var(--hue-neutral);
	padding: 0;
	margin: 0;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
	--hue: var(--hue-correct);
}

body.wrong {
	--hue: var(--hue-wrong);
}

.container {
	width: 800px;
	max-width: 80%;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 10px 2px;
    margin-top: 200px;
}

.btn-grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 10px;
	margin: 20px 0;
}

.btn {
	--hue: var(--hue-neutral);
	background-color: hsl(var(--hue), 100%, 50%);
	border: 1px solid hsl(var(--hue), 100%, 30%);
	border-radius: 5px;
	padding: 5px 10px;
	color: white;
	outline: none;
}

.btn:hover {
	border-color: black;
}

.btn.correct {
	--hue: var(--hue-correct);
	color: black;
}

.btn.wrong {
	--hue: var(--hue-wrong);
}

.start-btn, .next-btn {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 10px 20px;
}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide {
	display: none;
}
